table {
    
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

 td,th {
   
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    
    background-color: #4CAF50;
    color: white;
}